@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    /*--color-primary: blue;
    --color-secondary: teal;
     */
}

@import "./components/application.css";
@import "./components/legacyMarkdown.css";
@import "./components/searchBar.css";
@import "flatpickr/dist/flatpickr.min.css";