/npm/@dashica/*/bin/dashica-server
**/dashica-server.exe
/server/build/
node_modules
/server/dist
/server/npm
/lib/components/**/*_templ.go
/public/dist/
/dashica-src/public/dist/index.css
/docs/dev-server/dashica-src/public/dist/index.css
/dashica-src/public/dist/index.js
/docs/dev-server/dashica-src/public/dist/index.js
/speedscope_viewer/dist/*
!/speedscope_viewer/dist/.gitkeep
